#mission {
    text-align: justify;
    text-justify: inter-word;
    font-family: Calibri, sans-serif;
    font-size: large;
  }

#people {
    text-align: justify;
    text-justify: inter-word;
    font-family: Calibri, sans-serif;
    /* letter-spacing: 2px; */
  }